{% extends 'stats.html.twig' %}
{% block pageTitle %}
    <h1>
        <i class="fa fa-fw fa-line-chart"></i>
        User Details:

        {{ grav.uri.query('user') }}
    </h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set queryKey = 'user' %}
    {% if grav.uri.query('user') matches '#^([0-9]{1,3}\.){2,}#' %}
        {% set queryKey = 'ip' %}
    {% endif %}


    {% set conf = config.plugins['page-stats'] %}
    {% include 'partials/messages.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% if conf.show_top_users_widget %}
                <div class="mb-5 col-{{ conf.cols_top_users_widget }}">
                    <h5>
                        Top Users
                    </h5>
                    <table class="table">
                        <tr>
                            <th>
                                User
                            </th>
                            <th>
                                Page Views
                            </th>
                        </tr>
                        {% for s in stats.topUsers(conf.limit_top_users_widget,null,null, {(queryKey) : grav.uri.query('user')}) %}
                            <tr>
                                <td>
                                    <a class="me-2" href="user-details?user={{ s.user|default(s.ip) }}" title="view information about {{ s.user|default(s.ip) }}">
                                        <i class="fa fa-fw fa-line-chart"></i>
                                    </a>
                                    {{ s.user|default('not logged in') }}
                                </td>
                                <td>
                                    {{ s.hits }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            {% if conf.show_top_countries %}
                <div class="mb-5 col-{{ conf.cols_top_countries }}">
                    <h5>
                        Top Countries
                    </h5>
                    <table class="table">
                        <tr>
                            <th>
                                Country
                            </th>
                            <th>
                                % share
                            </th>
                            <th>
                                Page Views
                            </th>
                        </tr>
                        {% for s in stats.topCountries(conf.limit_top_countries,null,null, {(queryKey) : grav.uri.query('user')}) %}
                            <tr>
                                <td>
                                    <img src="https://flagcdn.com/24x18/{{ s.country|lower }}.png">
                                    {{ s.country|default('Unknown') }}
                                </td>
                                <td>
                                    {{ s.share }}
                                    %
                                </td>
                                <td>
                                    {{ s.hits }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            {% if conf.show_top_browsers %}
                <div class="mb-5 col-{{ conf.cols_top_browsers }}">
                    <h5>
                        Top Browsers
                    </h5>
                    <table class="table">
                        <tr>
                            <th>
                                Browser
                            </th>
                            <th>
                                % share
                            </th>
                            <th>
                                Page Views
                            </th>
                        </tr>
                        {% for s in stats.topBrowsers(conf.limit_top_browsers,null,null, {(queryKey) : grav.uri.query('user')}) %}
                            <tr>
                                <td>
                                    {{ s.browser }}
                                </td>
                                <td>
                                    {{ s.share }}
                                    %
                                </td>
                                <td>
                                    {{ s.hits }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            {% if conf.show_top_platforms %}
                <div class="mb-5 col-{{ conf.cols_top_platforms }}">
                    <h5>
                        Top Platforms
                    </h5>
                    <table class="table">
                        <tr>
                            <th>
                                Platform
                            </th>
                            <th>
                                % share
                            </th>
                            <th>
                                Page Views
                            </th>
                        </tr>
                        {% for s in stats.topPlatforms(conf.limit_top_platforms,null,null, {(queryKey): grav.uri.query('user')}) %}
                            <tr>
                                <td>
                                    {{ s.platform }}
                                </td>
                                <td>
                                    {{ s.share }}
                                    %
                                </td>
                                <td>
                                    {{ s.hits }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}


              {% if conf.show_pagedetails_recent_views %}
                <div class="mb-5 col-{{ conf.cols_pagedetails_recent_views }}">
                    <h5>
                        Recent Views
                    </h5>
                    <table class="table">
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Page
                            </th>
                            <th>Location</th>
                            <th>
                                Platform
                            </th>
                            <th>
                                Browser
                            </th>
                        </tr>
                        {% for s in stats.recentPages(1000,null,null, {(queryKey) : grav.uri.query('user')}) %}
                             <tr>
                                    <td>
                                        {{ s.date|date }}
                                    </td>
                                    <td class="w-100">
                                        <a class="me-2" title="view page" target="blank" href="{{ s.route }}">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                        <a class="me-2" title="view page stats" href="page-details?page={{ s.route }}" title="{{ s.route }}">
                                            <i class="fa fa-fw fa-line-chart"></i>
                                        </a>
                                        {{ s.page_title }}
                                    </td>
                                    <td>
                                        <a class="me-2"  href="user-details?user={{ s.user|default(s.ip) }}" title="view information about {{ s.user|default(s.ip) }}">
                                            <i class="fa fa-fw fa-line-chart"></i>
                                        </a>
                                        {{ s.user|default(s.ip) }}
                                    </td>
                                    <td>
                                        {{ s.city }}
                                        -
                                        {{ s.country }}
                                    </td>
                                    {# <td>{{s.hits}}</td> #}
                                    <td>
                                        {{ s.browser }}
                                    </td>
                                    <td>
                                        {{ s.platform }}
                                    </td>
                                </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}


        </div>
    </div>
{% endblock %}
