{% import 'macros/macros.html.twig' as macros %}

<div class="mb-5  col-12{{ conf.cols_recently_viewed_pages }}">
    <h5 class="pe-2 d-flex justify-content-between">
        Recently Viewed Pages
        {% if hide_show_all is not defined %}
            <a href="{{ pageStats.urls.recentlyedViewdPages }}">
                <i class="fa fa-fw fa-line-chart"></i>
                View last 1000 pages</a>
        {% endif %}
    </h5>

    <table class="table table-hover">
        <tr>
            <th>
                Date
            </th>
            {% if hide_page is not defined %}
                <th>
                    Page
                </th>
            {% endif %}
            {% if hide_user is not defined %}
                <th>User</th>
            {% endif %}
            <th>Location</th>
            <th>
                Browser
            </th>
            <th>
                Platform
            </th>
            <th>
                Time on Page
            </th>
        </tr>
        {% for day, d in data %}

            <tr>
                <td colspan="6">
                    <strong>{{ day|date('F jS') }}</strong>
                </td>
            </tr>
            {% for s in d %}
                <tr>
                    <td>
                        {{ s.time }}
                    </td>
                    {% if hide_page is not defined %}
                        <td class="w-100">
                            <a class="me-2" title="view page" target="blank" href="{{ s.route }}">
                                <i class="fa fa-external-link"></i>
                            </a>
                            <a class="me-2" title="view page stats" href="{{ pageStats.urls.pageDetails}}?page={{ s.route }}" title="{{ s.route }}">
                                <i class="fa fa-fw fa-line-chart"></i>
                            </a>
                            {{ macros.page_title(s, conf)  }}
                        </td>
                    {% endif %}

                    {% if hide_user is not defined %}
                        <td>
                            <a class="me-2" href="{{ pageStats.urls.userDetails}}?user={{ s.user|default(s.ip) }}" title="View stats for user">
                                <i class="fa fa-fw fa-line-chart"></i>
                                {{ s.user|default(s.ip)}}
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        {{ s.city }}
                        -
                        {{ s.country }}
                    </td>

                    <td>
                        {{ s.browser }}
                    </td>
                    <td>
                        {{ s.platform }}
                    </td>
                    <td>
                        {% set top = pageStats.db.timeOnPage(s.id) %}
                        {% if top.seconds %}
                            {{ top.seconds }}
                            s
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>

                {% if show_user_agent is defined %}
                    <tr>
                        <td colspan="6">
                            <strong class="ps-5">User Agent:
                            </strong>
                            {{ s.user_agent }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
