<div class="mb-5 {{ conf.cols_top_users_widget }}">
    <h5>
        {% if hide_show_all is not defined %}
            <a href="{{ pageStats.urls.topUsers }}" title="View All">
                <i class="fa fa-fw fa-line-chart"></i>
                Top Users</a>
        {% else %}
            Top Users
        {% endif %}
    </h5>
    <table class="table table-hover">
        <tr>
            <th>
                User

            </th>
            {% if show_views is defined %}
                <th>
                    Page Views

                </th>
            {% endif %}
        </tr>
        {% for s in data %}
            <tr>
                <td>
                    <a class="me-2" href="{{ pageStats.urls.userDetails}}?user={{ s.user|default(s.ip) }}" title="{{ s.hits }} page views">
                        <i class="fa fa-fw fa-line-chart"></i>

                    {{ s.user|default('not logged in') }}

                    </a>
                </td>
                {% if show_views is defined %}
                    <td>
                        {{ s.hits }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
